<div class="card">
  <img [src]="getPath(carImage.imagePath)" class="d-block w-100" width="450" height="250" alt="Image"/>
  <h1>{{cardetail.carName}}</h1>
  <strong>Günlük Ücret: </strong><p class="price">{{cardetail.dailyPrice}} ₺</p>
  <strong>Araç Rengi: </strong><p>{{cardetail.colorName}}</p>
  <strong>Araç Markası: </strong><p>{{cardetail.brandName}}</p>
  <strong>Araç Model Yılı: </strong><p>{{cardetail.modelYear}}</p>
  <strong>Araç Detayı: </strong><p>{{cardetail.description}}</p>
    <div class="card-body">
    <div class="d-flex action justify-content-between">
      <a href="" class="btn btn-success">Kirala</a>
      <a (click)="setCurrentDetail(cardetail)" routerLink="/cars/"
      class="btn btn-primary">Geri</a>
    </div>  
</div>
