<div class="card">  
  <ngb-carousel>
    <ng-template *ngFor="let carImage of carImages" ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="getPath(carImage.imagePath)" alt="Random first slide" class="d-block w-100"
          style="width: auto; height: auto;">
      </div>
    </ng-template>    
  </ngb-carousel>
  
  <h1>{{cardetail.carName}}</h1>
  <strong>Günlük Ücret: </strong><p class="price">{{cardetail.dailyPrice}} ₺</p>
  <strong>Araç Rengi: </strong><p>{{cardetail.colorName}}</p>
  <strong>Araç Markası: </strong><p>{{cardetail.brandName}}</p>
  <strong>Araç Model Yılı: </strong><p>{{cardetail.modelYear}}</p>
  <strong>Araç Detayı: </strong><p>{{cardetail.description}}</p>
    <div class="card-body">
    <div class="d-flex action justify-content-between">     
      <app-rent-modal></app-rent-modal>
      <a (click)="setCurrentDetail(cardetail)" routerLink="/cars/"
      class="btn btn-primary">Geri</a>
    </div>  
</div>
<script>
$('.carousel').carousel({
  interval: 1000
})
</script>