<body class="text-center">    
    <main class="form-signin">
      <form [formGroup]="registerForm">
        <img class="mb-4" src="/assets/images/register.png" alt="" width="100" height="100">
        <h1 class="h3 mb-3 fw-normal">Kayıt Ol</h1>
        <div class="form-floating">
            <input formControlName="firstName" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Ad</label>
          </div><br>
          <div class="form-floating">
            <input formControlName="lastName" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Soyad</label>
          </div><br>
        <div class="form-floating">
          <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">E-posta</label>
        </div><br>
        <div class="form-floating">
          <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Şifre</label>
        </div><br>
        <div class="checkbox mb-3">   
        <label>
            <input type="checkbox" value="remember-me" [(ngModel)]="rememberMe"
                [ngModelOptions]="{standalone: true}"> E-postamı hatırla
        </label></div>  <br>
       
        <button class="w-100 btn btn-lg btn-primary" type="submit"  (click)="register()">Kayıt Ol</button>
        <div class="text-dark mt-3" style="font-size:14px">
            Zaten bir hesabın var mı? <a routerLink="/login"
            class="text-primary">Hemen giriş yap!</a>
        </div>       
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
      </form>
    </main>
        
      </body>