<div class="container">
    <div class="row card-group">
        <div class="col-md-4"><br>
            <div class="card h-100">
                <div class="card-body text-center" style="margin-top:50px;">
                    <img src="/assets/images/signin.png" width="150px" height="150px">
                </div>
                <div class="card-footer text-center d-grid gap-2">
                    <button class="btn btn-success" disabled>Resmi değiştir</button>
                </div>
            </div>
        </div>
        <div class="col-md-4"><br>
            <div class="row card">
                <div class="card-header bg-warning bg-gradient text-center" >
                   <strong>Kullanıcı Bilgilerim</strong> 
                </div>
                <div class="card-body">
                    <div  class="row">
                        <div class="col-md-5  text-end">
                            <strong>E-mail:</strong>
                        </div>
                        <div class="col-md-7">
                            <p>{{users?.email}}</p>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 text-end">
                            <strong>Ad:</strong>
                        </div>
                        <div class="col-md-7">
                            <p>{{users?.firstName}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 text-end">
                            <strong>SoyAd:</strong>
                        </div>
                        <div class="col-md-7">
                            <p>{{users?.lastName}}</p>
                        </div>
                    </div><br>
                    <div class="card-footer text-center d-grid gap-2">                   
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#userUpdate">Bilgileri Güncelle</button>
                        <button class="btn btn-success" disabled>Şifre Değiştir</button>
                    </div>
                </div>
            </div>
        </div> <br>
            <!-- COMPANY DETAIL -->
            <div class="col-md-4"><br>
                <div class="row card">
                    <div class="card-header bg-warning bg-gradient text-center" >
                        <strong >Şirket Bilgilerim</strong><br>
                        (Bireysel Müşterilerimiz İçin Zorunlu Değildir)<br>                        
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5  text-end">
                                <strong>Şirket İsmi:</strong>
                            </div>
                            <div class="col-md-7">
                                <p>{{customers?.companyName}}</p>                            
                            </div>
                        </div>                        
                        <div class="card-footer text-center d-grid gap-2">                   
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#companyUpdate">Bilgileri Güncelle</button>                      
                         </div>
                    </div> 
                </div>                       
            </div> 
    </div><br><br>
      <!-- CREDITCARDS DETAIL -->
      <div class="container">
        <div  *ngIf="customerCreditCards.length>0" class="row card">         
            <div class="card-header bg-warning bg-gradient text-center" >
                <strong >Kayıtlı Kredi Kartlarım</strong><br>
            </div><br>
           <div class="row">          
                <div  *ngFor="let customerCreditCard of customerCreditCards"  class="col-md-6">
                        <div  class="card " id="credit-card">                   
                        <div  class="card-body" >              
                                <div class="btn-group float-end">                                                    
                                    <button data-bs-toggle="modal" (click)="setCreditCard(customerCreditCard)" data-bs-target="#creditCardDelete"  type="button" class="btn btn-danger px-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>                       
                                    </button> 
                                </div><br><br>
                                <div class="row">
                                    <p><strong>{{'**** **** **** ' + customerCreditCard.cardNumber.substr(12,4)}}</strong></p>
                                </div>  <br>                      
                            <div class="row">
                                <div class="col-md-5"><br>                            
                                        <strong>{{customerCreditCard.cardHolder}}</strong>                           
                                </div>
                                <div class="col-md-4"><br>                            
                                    <strong>{{customerCreditCard.expirationMonth}}/{{customerCreditCard.expirationYear}}</strong>                       
                                </div>
                                <div class="col-md-3">                            
                                    <img class="credit-card-logo" style="width: 70px;"
                                    [src]="getCreditCardLogoSource(customerCreditCard.cardNumber)">                          
                                </div>                       
                            </div>                                    
                        </div>
                    </div> 
                </div><br>        
            </div>
        
          </div>   
    </div> 

      </div>   <br><br><br>      
     

<!-- USER UPDATE Modal -->
<div class="modal fade" id="userUpdate" tabindex="-1" aria-labelledby="userUpdateLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userUpdateLabel">Şirket Bilgileri Güncelleme Detayları</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="updateProfileForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input formControlName="firstName" type="text" class="form-control"
                                id="updatefirstname" placeholder="Ad">
                            <label >Ad</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input formControlName="lastName" type="text" class="form-control"
                                id="updatelastname" placeholder="Soyad">
                                <label >Soyad</label>                            
                        </div><br>
                     </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input formControlName="email" type="email" class="form-control"
                                        id="updateemail" laceholder="E-postpa">                                        
                                        <label >E-posta</label>                            
                                </div>
                            </div>
                        </div>                  
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
          <button type="button" (click)="updateProfile()"  class="btn btn-success">Kaydet</button>
        </div>
      </div>
    </div>
  </div>
 <!-- COMPANY UPDATE Modal -->
  <div class="modal fade" id="companyUpdate" tabindex="-1" aria-labelledby="companyUpdateLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userUpdateLabel">Şirket Bilgileri Güncelleme Detayları</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="updateCompanyForm">                      
                    <div class="form-floating">
                        <input formControlName="companyName" type="text" class="form-control"  id="updatecompanyname" laceholder="E-postpa">                                        
                            <label for="signinemail">Şirket İsmi</label>                            
                     </div>          
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
          <button type="button"  class="btn btn-success" (click)="updateCompany()">Kaydet</button>
        </div>
      </div>
    </div>
  </div>
  <!-- CREDIT CARD DELETE Modal -->
  <div   class="modal fade" id="creditCardDelete"  aria-labelledby="creditCardDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="creditCardDeleteLabel">Kayıtlı Kredi Kartı Silme Onayı</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div  class="modal-body">
            Sonu <strong>{{currentCreditCard?.cardNumber.substr(12,4)}}</strong> ile biten kayıtlı kredi
            kartınızı silmek istediğinize emin misiniz ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="kapatbutonu" data-bs-dismiss="modal">İptal</button>
          <button type="button" (click)="deleteCreditCard(currentCreditCard)" class="btn btn-success" >Sil</button>
        </div>
      </div>
    </div>
  </div>                        