body {
  height: 1000px ;
  background-color: #000000;
  background-image: url('/assets/images/home.gif') ;
  background-size: 100% 100%; 
  
  background-repeat : no-repeat;
  background-position:50% 50%; 

  /* background-position: center; */
}
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}





